.cabecalhoPrincipal .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalhoPrincipal-nav{
    display: flex;
}

.rodapePrincipal-navMap-list{
    display: flex;
    flex-direction: column;
}

/* ULTIMO */
.rodapePrincipal-patrocinadores .container{
    display: flex;
    justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list{
    display: flex;
    align-items: center;
    justify-content: space-around; /*FAZ O ESPAÇAMENTO AO REDOR E ENTRE OS ELEMENTOS*/
    width: 70%; 
    margin-right: 5%; /* DAR UM ESPAÇAMENTO ENTRE O FORM E O UL */
}

.rodapePrincipal-contatoForm{
    width: 25%;
}

.rodapePrincipal-contatoForm-fieldset{
    display: flex;
}