.topicos {
    background: var(--azul-degrade);
    text-align: center;
    padding: 1rem 0;
}

.topicos__titulo {
    color: var(--branco);
    font-weight: 300;
    margin: 1rem 0;

}

.topicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.topicos__item {
    margin: 2rem .5rem;
}

.topicos__link {
    background-color: var(--laranja);
    color: var(--branco);
    font-size: 14px;
    font-weight: 700;
    padding: 1rem;
    text-decoration: none;
}